@tailwind base;

@tailwind components;

html,
body {
  /* padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  @apply p-0 m-0 font-serif bg-darktheme bg-repeat-y bg-cover bg-center h-full;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply font-sans;
}

/* background color fix */
.carousel .slide {
  background: none !important;
}

.z-top {
  z-index: 100000;
}

.modal-1-content {
  /* height: 20%; */
  /* width: 20%; */
  /* transform: translate(-50%; -50%); */
  -webkit-overflow-scrolling: touch;

  @apply h-32 w-32 bottom-7 left-3 md:bottom-10 lg:left-20 md:h-72 md:w-72 text-white absolute flex justify-center items-center border-2 border-solid border-transparent bg-transparent overflow-auto outline-none p-2;
}

.modal-overlay {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent */

  @apply top-0 bottom-0 left-0 right-0 bg-transparent fixed;
}

.modal-2-content {
  -webkit-overflow-scrolling: touch;
  @apply top-32 right-2 md:top-36 md:right-20 lg:right-32 text-white absolute flex justify-center border-transparent items-center border-2 border-solid bg-transparent overflow-auto outline-none p-2;

  height: 60%;
  width: 70%;
}

.message-clip {
  clip-path: polygon(0 0, 0 75%, 10% 75%, 15% 100%, 20% 75%, 100% 75%, 100% 0);
  border-radius: 40px;
}

.message-clip-2 {
  clip-path: polygon(0 0, 0 75%, 10% 75%, 15% 100%, 20% 75%, 100% 75%, 100% 0);
  border-radius: 40px;
}

#about-hero:before {
  content: "";
  background-image: url("../public/logo-f.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

@tailwind utilities;
