@tailwind base;

@tailwind components;

html,
body {
  /* padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  @apply p-0 m-0 font-serif bg-darktheme bg-repeat-y bg-cover bg-center h-full;
  background-attachment: fixed;
}

/* scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 25, 0);
  background: linear-gradient(
    49deg,
    rgba(182, 25, 0, 1) 0%,
    rgba(0, 63, 136, 1) 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 25, 0);
  background: linear-gradient(49deg, rgb(161, 23, 2) 0%, rgb(1, 56, 119) 100%);
}

/* general  */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply font-sans;
}

/* background color fix */
.carousel .slide {
  background: none !important;
}

.z-top {
  z-index: 100000;
}

/* modal  */

.modal-1-content {
  /* height: 20%; */
  /* width: 20%; */
  /* transform: translate(-50%; -50%); */
  -webkit-overflow-scrolling: touch;

  @apply h-32 w-32 bottom-7 left-3 md:bottom-10 lg:left-20 md:h-72 md:w-72 text-white absolute flex justify-center items-center border-2 border-solid border-transparent bg-transparent overflow-auto outline-none p-2;
}

.modal-overlay {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent */

  @apply top-0 bottom-0 left-0 right-0 bg-transparent fixed;
}

.modal-2-content {
  -webkit-overflow-scrolling: touch;
  @apply top-32 right-2 md:top-36 md:right-20 lg:right-32 text-white absolute flex justify-center border-transparent items-center border-2 border-solid bg-transparent overflow-auto outline-none p-2;

  height: 60%;
  width: 70%;
}

.message-clip {
  clip-path: polygon(0 0, 0 75%, 10% 75%, 15% 100%, 20% 75%, 100% 75%, 100% 0);
  border-radius: 40px;
}

.message-clip-2 {
  clip-path: polygon(0 0, 0 75%, 10% 75%, 15% 100%, 20% 75%, 100% 75%, 100% 0);
  border-radius: 40px;
}

/* background on welcome page  */

#about-hero:before {
  content: "";
  background-image: url("../public/logo-f.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -10;
  opacity: 0.25;
}

/* Anchor animations */

.animated-link::after {
  content: "";
  width: 100%;
  transition: width 0.3s;
  @apply block h-1 bg-blue-900;
}

.animated-link:hover::after {
  width: 10%;
}

/* clients section  */
@media only screen and (min-width: 1000px) {
  .grayscale {
    filter: grayscale(100%);
    transition: all 1s ease-in;
  }

  .grayscale:hover {
    filter: grayscale(0%);
  }
}

/* FullPage Scroll */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white !important;
}

.fp-controlArrow.fp-prev {
  left: 40px !important;
  border-width: 18.5px 14px 18.5px 0 !important;
}
.fp-controlArrow.fp-next {
  right: 40px !important;
  border-width: 18.5px 0 18.5px 14px !important;
}

/* .box-shadow {
  box-shadow: 0 0 10px #1E3A8A, 0 0 40px #1E3A8A, 0 0 80px #1E3A8A;
} */

.box-shadow-services {
  box-shadow: 0 0 10px green, 0 0 40px green, 0 0 80px green;
}

.btn {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
}

.clientLogo {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

/* work section */

.containerN {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(300px, auto);
  grid-auto-flow: dense;
  grid-gap: 10px;
  height: 100%;
}

.containerN .box {
  background-color: #333;
  padding: 20px;
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.containerN .box:hover {
  background: rgb(182, 25, 0);
  background: linear-gradient(
    49deg,
    rgba(182, 25, 0, 1) 0%,
    rgba(0, 63, 136, 1) 100%
  );
}

.containerN .box img {
  position: relative;
  max-width: 100%;
  margin-bottom: 10px;
}

.containerN .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.containerN .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}

.containerN .box:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}
.containerN .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

.containerN .box:nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}

.containerN .box:nth-child(7) {
  grid-column: span 1;
  grid-row: span 1;
}

.containerN .box:nth-child(8) {
  grid-column: span 1;
  grid-row: span 2;
}
.containerN .box:nth-child(9) {
  grid-column: span 3;
  grid-row: span 1;
}

@media (max-width: 991px) {
  .containerN {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }
}

@media only screen and (max-width: 600px) {
  .containerN {
    display: flex;
    justify-items: center;
    align-items: stretch;
    flex-direction: column;
  }
}

/* loader */
@keyframes f-zoomin {
  from {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  16.6%,
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes f-slidein-right {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  16.6%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes head-top-slidein {
  from,
  16.6% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  33.2%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes beak-slidein-left {
  from,
  33.2% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  49.8%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes beak-bottom-slidein-corner {
  from,
  49.8% {
    transform: translate3d(-100%, 100%, 0);
    visibility: visible;
  }
  66.4%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes neck-slidein-up {
  from,
  66.4% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  83% {
    transform: translate3d(0, 0, 0);
  }
}

#letter-f {
  animation: f-slidein-right;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#head-top {
  animation: head-top-slidein;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#beak-top {
  animation: beak-slidein-left;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#beak-bottom {
  animation: beak-bottom-slidein-corner;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

#neck {
  animation: neck-slidein-up;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.work-description li {
  list-style-type: disc;
}

@media only screen and (max-width: 990px) {
  .wrapper svg {
    width: 200px;
    height: 200px;
  }
}

@tailwind utilities;
